/*Estilos generales*/
:root{
    --color-principal: #ffffff;
    --color-secondary: #04b4e0;

    --color-background: #f2f7f9;
    --color-transparent: transparent;

    --color-icons:#b5b6b7;
    --color-titles:#222222;
    --color-subtitel: #888;
    --color-text: #555;
    --color-company:#a5a6a7;
}

html{
    font-size: 10px;
}

body{
    width: 100%;
    height: auto;
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 1.5rem;
    background-color: var(--color-background);
    color: var(--color-text);
}

h1, h2, h3, h4, h5, h6{
    color:var(--color-titles);
}

/* imagen de fondo*/
body{
    background-image: url("assets/img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20px -120px;
}


/* Principal */

.layout{
    position: relative;
    min-width: 1290px;
    width: 75%;
    height: 80vh;
    min-height: 80vh;
    margin: 10vh auto;
    background-color: var(--color-secondary);
    display: grid;
    grid-template-areas: 
        "aside content";
    grid-template-columns: 30% 70%;

    /*Sombra*/
    border-radius: 4rem;
    box-shadow: 0 0 100px -5px rgb(0, 0, 0, 0.25);
}


/* Barra lateral */

.layout__aside{
    grid-area: aside;
    border-radius: 4rem 0 0 4rem;
    overflow: auto;
    overflow-x: hidden;
}

.aside__user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    min-height: 100%;
    min-width: 30rem;
    background-color: var(--color-secondary);
    color: var(--color-principal);
}

.user-info__container-image{
    position: relative;
    display: inline-block;
    width: 18rem;
    margin-top: 7rem;
    z-index: 1;
}

.user-info__image{
    width: 100%;
    background-color: var(--color-principal);
    border: 0.3rem solid var(--color-principal);
    border-radius: 20rem;
}

.user-info__container-image::after{
    content:".";
    position: absolute;
    top:5%;
    left: 9%;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: -webkit-repeating-radial-gradient(center center, #fff,#fff 1px, transparent 0px,transparent 100%);
    background-size: 0.6rem 0.6rem;
    opacity: 0.4;
    border-radius: 30rem;
}

.user-info__name{
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--color-principal);
    margin-top: 2.6rem;
}  

.user-info__job{
    font-size: 1.7rem;
    font-weight: 200;
    color:var(--color-principal);
}

.user-info__links{
    margin-bottom: 3.6rem;
}

.links__social{
    margin-top: 2rem;
    text-align: center;

    display: flex;
    flex-direction: row;
}

.social__option{
    height: 3rem;
    width: 3rem;
    font-size: 2.1rem;
    line-height: 3.2rem;
    opacity: 0.9;
    border-radius: 3rem;
    transition: all 300ms linear;
}

.social__option:hover{
    opacity: 1;
    background-color: rgb(255,255,255,0.20);
}

.social__color {
    color:var(--color-principal);
}

.user-info__buttons{
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.user-info__btn{
    padding: 3rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    color: var(--color-principal);
    border: 2px solid var(--color-principal);
    border-radius: 3.2rem;
    background-color: var(--color-secondary);
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.22);
    transition: all 300ms ease-in-out;
}

.user-info__btn:hover{
    background-color: var(--color-principal);
    color: var(--color-secondary);
}

.user-info__footer{
    position: absolute;
    bottom: 2rem;
    font-size: 1.2rem;
}


/* Principal*/
.layout__content{
    grid-area: content;
    height: 100%;
    min-height: 100%;
    background-color: var(--color-principal);
    border-radius: 3.2rem 3.2rem 3.2rem 3.2rem;
}

.content__page{
    min-height: 100%;
    min-width: 100%;
    background: var(--color-principal);
    border-radius: 3.2rem;
}

.content__index{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
.page__name{
    font-size: 6rem;
    margin-bottom: 1rem;
}

.page__job{
    font-size: 2.1rem;
    font-weight: lighter;
    color:var(--color-subtitel);
}


/* Menu Lateral */
.layout__menu{
    display: block;
    position: absolute;
    top:0;
    right: -110px;
    min-width: 11rem;
    background-color: var(--color-transparent);
}

.menu__list{
    position: relative;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 23rem;
    min-height: 23rem;
    padding: 2rem 0;
    margin: 2.5rem;
    background-color: var(--color-principal);
    box-shadow: 0 0 3rem -0.5rem rgba(0, 0, 0, 0.15);
    border-radius: 6rem;
}

.menu__option{
    display: block;
    width: 100%;
    text-align: center;
}

.menu__icon{
    display: block;
    color:var(--color-icons);
    font-size: 2.8rem;
    transition: all 300ms ease-in-out;
}

.menu__option:hover .menu__icon,
.menu__link--active .menu__icon{
    color:var(--color-secondary);
}


.menu__icon{
    color:var(--color-icons);
    font-size: 2.8rem;
}

.menu__overlay{
    position: absolute;
    right: 0;
    margin-top: -3rem;
    opacity: 0;
    padding: 0.5rem 1rem;
    display: block;
    color: var(--color-principal);
    background-color: var(--color-secondary);
    white-space: nowrap;
    transition: all 300ms ease-in-out;
}

.menu__option:hover .menu__overlay{
    opacity: 1;
    right: 100%;
}

/*Estilos Generales */

.content__about,
.content__resume,
.content__portafolio{
    display: block;    
    height: 100%;
    min-height: 100%;
    padding: 6rem;
    padding-right: 3rem;
    overflow-y: auto;
}

.about__header,
.resume__header,
.services__header,
.portafolio__header,
.contacto__header{
    display: inline-block;
    margin-bottom: 2.5rem;
    padding-right: 1.2rem;
    position: relative;

}

.about__title,
.about__subtitle,
.resume__title,
.portafolio__title,
.contacto__title{
    font-size: 2.5rem;
}

.service__title,
.resume__subtitle{
    font-size: 1.5rem;
}

.about__title::after,
.resume__title::after,
.about__subtitle::after,
.portafolio__title::after{
    content: "";
    position: absolute;
    top: 17px;
    right: -9px;
    width: 50px;
    height: 30px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-secondary), var(--color-secondary) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    opacity: 0.5;

}

.title__color{
    color:var(--color-secondary);
}

/*Info personal*/

.about__personal-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5rem;
}

.about__personal-bio{
    flex-basis: 56%;
}

.personal-info__description{
    font-size: 1.5rem;
    line-height: 2.4rem;
}

.personal-info__data{
    flex-basis: 44%;
    padding: 0 1.5rem;
}

.personal-info__option{
    margin-bottom: 1rem;
}

.personal-info__title{
    margin-right: 0.5rem;
    color:var(--color-secondary);
    font-weight: 600;
}

/*SERVICIOS*/
.about_services{
    width: 100%;
    margin-bottom: 3rem;
}




.servicios__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.services__service{
    flex-basis: calc(50% - 3rem);
    margin-right: 3rem;
    margin-bottom: 2.5rem;
}


.service__description{
    font-size: 1.4rem;
    text-align: left;
}

.service_icons{
    font-size: 3.5rem;
    color:var(--color-secondary);
}

.service__list{
    list-style-type: disc; /* Usa un círculo sólido */
    padding-left: 2rem; /* Espacio para el marcador */
}

.list{
    margin-bottom: 2rem;
}

.timeline_fecha{
    color: var(--color-company);
    font-size: 1.3rem;
    font-weight: lighter;
}

/*Estudios*/

.resume__container{
    display: flex;
    flex-direction: row;
}

.resume__left{
    flex-basis: 58%;
    margin-right: 1.5rem;
}

.resume__timelines{
    margin-bottom: 5rem;
}

.timelines__timeline{
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
}

.timeline__header{
    flex-basis: 30%;
    text-align: right;
    padding-right: 2.5rem;
}

.timeline__year{
    margin: 0.3rem 0;
    line-height: 1.9rem;
    font-size: 1.4rem;
}

.timeline__company{
    display: block;
    font-size: 1.3rem;
    font-weight: lighter;
    color:var(--color-company);
}

.timeline__company__1{
    display: block;
    font-size: 1.3rem;
    font-weight: lighter;
    color:var(--color-company);
    white-space: wrap;
}



.timeline__description{
    width: 70%;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
}

.timeline__title{
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
}

.timeline__text{
    font-size: 1.4rem;
    margin-bottom: 1rem;

}

.timeline__divider{
    position: absolute;
    top:0;
    left: 30%;
    bottom: -18px;
    width: 1px;
    background-color: var(--color-scrollbar);
}

.timeline__divider::before{
    content: "";
    position: absolute;
    margin-top: 0.4rem;
    margin-left: -0.8rem;
    width: 1.7rem;
    height: 1.7rem;
    background-color: var(--color-secondary);
    border-radius: 10rem;
    opacity: 0.25;
}

.timeline__divider::after{
    content: "";
    position: absolute;
    margin-top: 0.8rem;
    margin-left: -0.4rem;
    width: 0.9rem;
    height: 0.9rem;
    background-color: var(--color-principal);
    border-radius: 10rem;
    border: 2px solid var(--color-secondary);
    opacity: 1;
}


/*DERECHA*/
.resume__right{
    flex-basis: 41%;
    padding: 0 1.5rem;
}

.resume__subtitle{
    margin-bottom: 2rem;
}

.resume__skills{
    width: 100%;
    margin-bottom: 3rem;
}

.skills__title{
    display: flex;
    justify-content: space-between;
}

.skills__text{
    font-size: 1.3rem;
    line-height: 1.4rem;
    margin-bottom: 0.4rem;
}

.skills__number{
    font-size: 1.1rem;
    line-height: 1.1rem;
    margin-bottom: 0.4rem;
    color:var(--color-subtitel);
}

.skills__progressbar{
    height: 1rem;
    border: 1px solid var(--color-secondary);
    border-radius: 1rem;
    background-color: var(--color-principal);
    margin-bottom: 0.8rem;
}


.skills__percentage{
    width: 40%;
    height: 0.8rem;
    background-color: var(--color-secondary);
    border:2px solid var(--color-principal);
    border-radius: 1rem;
}

.skills__percentage--b1{
    width: 83%;
}

.skills__percentage--b2{
    width: 74%;
}

.skills__percentage--b3{
    width: 62%;
}

.skills__percentage--b4{
    width: 70%;
}

.skills__percentage--b5{
    width: 50%;
}

.skills__percentage--b6{
    width: 60%;
}

.skills__percentage--b7{
    width: 89%;
}

.skills__percentage--b8{
    width: 38%;
}
/* portafolio */

.portafolio__navbar{
    margin-bottom: 3rem;
}

.portafolio__menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:1.5rem;
}

.portafolio__option{
    font-size: 1.3rem;
    opacity: 0.7;
}

.portafolio__option--active{
    opacity:1;
}

.portafolio__link{
    cursor:pointer;
}

.portafolio__link:hover{
    color:var(--color-secondary);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
}

.portafolio__gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery__item{
    position: relative;
    flex-basis: 33%;
    padding: 0.7rem;
}

/* .gallery__container-image{
    overflow: hidden;
} */

.gallery__image{
    transition: all 300ms ease-in-out;
}

.gallery__title{
    font-size: 1.6rem;
    padding: 1.5rem 0;
    font-weight: bold;
}

.gallery__icons{
    opacity: 0;
    position:absolute;
    top:1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.6rem;
    text-align: center;
    line-height: 3rem;

    background-color: var(--color-principal);
    color:var(--color-secondary);

    transition: all 450ms ease-in-out;
}

.gallery__category{
    opacity: 0;
    position: absolute;
    top:1.5rem;
    left:1.5rem;
    padding: 0.2rem 0.7rem;
    font-size: 1.1rem;
    
    background-color: var(--color-principal);
    color:var(--color-text);

    transition: all 450ms ease-in-out;
}

.gallery__item:hover .gallery__icons,
.gallery__item:hover .gallery__category{
    opacity: 1;
    transform: scale(1.1);
}


/* Contacto */

.content__contacto {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.contacto__container {
    display: flex;
    flex-direction: row;
    flex-basis: 33%;
}

.contacto__title{
    font-size: 6rem;
    margin-bottom: 1rem;
}

.contact__text{
    font-size: 1rem;
    margin-left: 1rem;
}

/* Estilos adicionales para las secciones */
.contacto__info {
    margin: 1rem; /* Margen opcional entre las secciones */
}

.contacto__data {
    display: flex;
    align-items: center;
}

.contacto__icon {
    margin-right: 1rem;
    background-color: var(--color-secondary);
    border-radius: 1rem;
    border:solid 1px var(--color-background);
    padding: 1rem;
    color:var(--color-titles);
}

.contacto__subtitle {
    margin: 0;
}

.contacto__icon:hover{
    border:solid 1px var(--color-secondary);
    background-color: var(--color-principal);
    color:var(--color-secondary);
}

.contacto__btn{
    background: none;
    border: none;
}